.Todo_box { 
  background-color: aquamarine;
  margin-top: 100px;
  margin-left: 37%;
  margin-right: 36%;
  padding:4%;
}
.checkbox {
  margin-right: 1%;
  margin-left: -13%;
}
.logo {
  width: 8%;
  height: auto;
}